arc4==0.3.0
asgiref==3.5.2
cart==1.2.2
certifi==2022.12.7
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.0.1
colorama==0.4.6
contourpy==1.0.6
cryptography==39.0.1
cycler==0.11.0
Django==4.0.4
django-shopping-cart==0.1
exceptiongroup==1.1.1
fonttools==4.38.0
idna==3.4
imbalanced-learn==0.10.1
imblearn==0.0
iniconfig==2.0.0
joblib==1.2.0
kiwisolver==1.4.4
matplotlib==3.6.0
mysql==0.0.3
mysqlclient==2.1.1
numpy==1.23.1
opencv-python==4.7.0.68
packaging==21.3
pandas==2.1.1
pandass==1.11.4
Pillow==9.2.0
pluggy==1.0.0
pycparser==2.21
pycryptodome==3.17
pyparsing==3.0.9
pytest==7.3.2
python-dateutil==2.8.2
pytz==2022.1
razorpay==1.4.1
reportlab==4.1.0
requests==2.28.2
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.12.1
six==1.16.0
sklearn==0.0
sqlparse==0.4.2
threadpoolctl==3.1.0
tomli==2.0.1
torch==1.13.1
torchvision==0.14.1
typing_extensions==4.4.0
tzdata==2022.1
urllib3==1.26.14
