
<!doctype html>
{% load static %}
<html lang="zxx">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title> Main Page </title>

	<link rel="stylesheet" href="{% static 'Main/assets/css/style-starter.css' %}">


	<link href="//fonts.googleapis.com/css?family=Josefin+Sans:400,400i,500,600,700&display=swap"
		rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap" rel="stylesheet">

</head>

<body>
	<script>
      {% for msg in messages %}
         alert('{{ msg }}');
      {% endfor %}
    </script>

	<!--w3l-header-->
	<section class="w3l-top-header-content">
		<div class="hny-top-menu">
			<div class="container" style="margin-left:-10px;">
				<div class="row">
					<ul class="accounts col-sm-8" style="text-align:center;"> INSULATOR ⇆ CONDUCTOR
					</ul>
					<ul class="social-top col-sm-4" >
						<i style="">Conducting the Future of Insulation</i>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!--//top-header-content-->
	<header class="w3l-header-nav">
		<!--/nav-->
		<nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
			<div class="container">
				<h1 style="margin-left:-190px;"><a class="navbar-brand">CONDUCTOR⇆<span>INSULATOR</span></a></h1>

				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<!-- <span class="navbar-toggler-icon"></span> -->
					<span class="fa icon-expand fa-bars"></span>
					<span class="fa icon-close fa-times"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent" >
					<ul class="navbar-nav ml-auto" >
						<li class="nav-item" >
							<a class="nav-link" style="font-size:22px;" href="/clients/client_login/">Clients</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="font-size:22px;"  href="/manganese_process/mg_login/">Manganese Process</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="font-size:22px;"  href="/app_integration/app_login/">App Integration</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="font-size:22px;"  href="/porosity_analysis/por_login/">Porosity</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="font-size:22px;"  href="/manager/manager_login/">Manager</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<section class="w3l-main-slider" id="home">
		<div class="banner-content">
			<div class="owl-one owl-carousel owl-theme">
				<div class="item">
					<li>
						<div class="slider-info banner-view bg bg2">
							<div class="banner-info">
								<div class="container">
									<div class="banner-info-bg">
										<h6 style="color:white;font-size:50px;">Electrical Properties</h6>
										<h5 style="color:white">Exploring conductors, insulators, and semiconductors</h5>
									</div>
								</div>
							</div>
						</div>
					</li>
				</div>
				<div class="item">
					<li>
						<div class="slider-info  banner-view banner-top1 bg bg2">
							<div class="banner-info">
								<div class="container">
									<div class="banner-info-bg">
										<h6>Conductors and Semiconductors</h6>
										<h5>Efficient materials for electrical conductivity</h5>
									</div>
								</div>
							</div>
						</div>
					</li>
				</div>
				<div class="item">
					<li>
						<div class="slider-info banner-view banner-top2 bg bg2">
							<div class="banner-info">
								<div class="container">
									<div class="banner-info-bg">
										<h6>Insulators</h6>
										<h5>Perfect for preventing electrical flow</h5>
									</div>
								</div>
							</div>
						</div>
					</li>
				</div>
				<div class="item">
					<li>
						<div class="slider-info banner-view banner-top3 bg bg2">
							<div class="banner-info">
								<div class="container">
									<div class="banner-info-bg">
										<h6>Conductor vs. Insulator vs. Semiconductor</h6>
										<h5>Understanding electrical material properties</h5>
									</div>
								</div>
							</div>
						</div>
					</li>
				</div>

			</div>
		</div>
	</section>
	<!-- /main-slider -->
	<!-- //banner-slider-->
	<!-- /bottom-grids-->
	<section class="w3l-bottom-grids-6">
		<div class="container">
			<div class="grids-area-hny main-cont-wthree-fea row">
				<div class="col-lg-4 col-md-6 grids-feature">
					<div class="area-box">
						<span class="fa fa-bath"></span>
						<h4><a  class="title-head">Electrical Conductivity</a></h4>
						<p>Explore materials' ability to conduct electricity and their significance in electrical systems.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 grids-feature">
					<div class="area-box active">
						<span class="fa fa-cogs active"></span>
						<h4><a  class="title-head">Insulating Properties</a></h4>
						<p>Understanding materials that resist electrical conductivity, crucial for safety and insulation.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 grids-feature">
					<div class="area-box">
						<span class="fa fa-users"></span>
						<h4><a  class="title-head">Semiconductor Role</a></h4>
						<p>Discover the intermediary properties of semiconductors between conductors and insulators.</p>
					</div>
				</div>


			</div>
		</div>
	</section>
	<!-- //bottom-grids-->
	<!-- /content-with-photo-1-->
	<section class="w3l-content-with-photo-1">
		<div class="ab-content-6-mian py-5">
			<div class="container py-lg-5">
				<div class="welcome-grids row">
					<div class="col-lg-6 welcome-image">
						<img src="{% static 'Main/assets/images/ab1.jpg' %}" class="img-fluid" alt="" />
					</div>
					<div class="col-lg-6 mt-lg-0 mt-5 pl-lg-4">
						<div class="title-content text-left">
							<h6 class="sub-title">Exploring Semiconductors</h6>
							<h3 class="hny-title">Understanding Semiconductor Technology</h3>
						</div>
						<p class="my-3">Discover the intricacies of semiconductor technology and its impact on modern electronics. From their role in amplifying signals to enabling computing power, semiconductors are integral to technological advancements.</p>
						<p>Learn how semiconductors, despite their modest conductivity, play a pivotal role between conductors and insulators, making them crucial in the world of electronics and computing.</p>

					</div>

				</div>

			</div>
		</div>
	</section>
	<!-- //content-with-photo-1-->

	<!-- /content-6-->
	<section class="w3l-content-6">
		<!-- /content-6-main-->
		<div class="content-6-mian py-5">
			<div class="container py-lg-5">
				<div class="content-info-in row">
					<div class="content-gd col-lg-4">
						<h3 class="hny-title">
							Quality Semiconductor Services</h3>
					</div>
					<div class="content-gd col-lg-4 pl-lg-4">
						<p>Explore our comprehensive semiconductor solutions crafted to meet modern technological needs. Our services encompass the latest advancements and ensure reliability in semiconductor design, development, and implementation.</p>
					</div>
					<div class="content-gd col-lg-4 pl-lg-4">
						<p>Discover how our semiconductor services pave the way for innovation and efficiency in various industries. From integrated circuits to cutting-edge electronic components, we're committed to delivering excellence in semiconductor technology.</p>
					</div>


				</div>
				<div class="features-top_sur d-grid">
					<div class="features-top-left_sur">
						<div class="d-flex justify-content-center">
							<span class="fa fa-microchip"></span>
						</div>
						<h4><a >PCB Design & Assembly</a></h4>


					</div>
					<div class="features-top-left_sur">
						<div class="d-flex justify-content-center">
							<span class="fa fa-code"></span>
						</div>
					  <h4><a >Microcontroller Programming</a></h4>
					</div>

					<div class="features-top-left_sur">
						<div class="d-flex justify-content-left">
							<span class="fa fa-tachometer"></span>
						</div>
					  <h4><a >Sensor Integration</a></h4>
					</div>

					<div class="features-top-left_sur">
						<div class="d-flex justify-content-left">
							<span class="fa fa-wifi"></span>
						</div>
					  <h4><a>Wireless Communication</a></h4>
					</div>

					<div class="features-top-left_sur">
						<div class="d-flex justify-content-center">
							<span class="fa fa-gears"></span>
						</div>
					  <h4><a>Electronics Design </a></h4>
					</div>
					<div class="features-top-left_sur">
						<div class="d-flex justify-content-center">
							<span class="fa fa-wrench"></span>
						</div>

					  <h4><a >Electronics Repair </a></h4>
					</div>


				</div>

			</div>
		</div>
	</section>
	<!-- //content-6-->
	<!-- /offer-->
	<section class="features-4">
		<div class="features4-block py-5">
			<div class="container py-lg-5">
				<div class="features4-grids text-center row">
					<div class="col-lg-3 col-md-6 features4-grid">
						<div class="features4-grid-inn">
							<span class="fa fa-microchip icon-fea4" aria-hidden="true"></span>
							<h5><a>Semiconductor Design</a></h5>
							<p>Explore our cutting-edge semiconductor design solutions, tailored to meet diverse technological demands and ensure innovation.</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 features4-grid sec-features4-grid">
						<div class="features4-grid-inn">
							<span class="fa fa-cogs icon-fea4" aria-hidden="true"></span>
							<h5><a>Semiconductor Manufacturing</a></h5>
							<p>Discover our semiconductor manufacturing capabilities, ensuring precision and quality in producing advanced electronic components.</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 features4-grid">
						<div class="features4-grid-inn">
							<span class="fa fa-fire-extinguisher icon-fea4" aria-hidden="true">
							<h5><a>Semiconductor Testing</a></h5>
							<p>Explore our rigorous semiconductor testing procedures, ensuring reliability and functionality in every electronic component.</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 features4-grid">
						<div class="features4-grid-inn">
        					<span class="fa fa-gavel icon-fea4" aria-hidden="true"></span>
							<h5><a>Semiconductor Integration</a></h5>
							<p>Learn about our expertise in semiconductor integration, enabling seamless functionality in complex electronic systems.</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!--//offer-->
	<!-- /quote-6-->
	<section class="w3l-quote-6">
		<div class="quote-info py-5">
			<div class="container py-lg-5">
				<div class="quote-grids-info row">
					<div class="quote-gd-left col-lg-10 pr-lg-5">
						<h4>Intriguing and inviting: Unlock the Potential: Explore the Frontiers of Electronic Innovation <br>Services Provider</h4>
						<p class="para-quote">Imagine tiny sensors monitoring our health in real-time, whispering insights to optimize our well-being. Picture AI-powered devices predicting and preventing breakdowns, ensuring efficiency and sustainability. Witness sustainable energy solutions woven into the fabric of our cities, powering our lives with minimal environmental impact. </p>

					</div>
				</div>
			</div>
		</div>
	</section>


</body>

</html>

<script src="{% static 'Main/assets/js/jquery-3.3.1.min.js' %}"></script>
<!-- disable body scroll which navbar is in active -->

<!--//-->
<script>
	$(function () {
		$('.navbar-toggler').click(function () {
			$('body').toggleClass('noscroll');
		})
	});
</script>
<!--/scroll-down-JS-->
<!-- for blog carousel slider -->
 <script src="{% static 'Main/assets/js/owl.carousel.js' %}"></script>
<!-- script for banner slider-->
<script>
	$(document).ready(function () {
		$('.owl-one').owlCarousel({
			loop: true,
			margin: 0,
			nav: false,
			responsiveClass: true,
			autoplay: false,
			autoplayTimeout: 5000,
			autoplaySpeed: 1000,
			autoplayHoverPause: false,
			responsive: {
				0: {
					items: 1,
					nav: false
				},
				480: {
					items: 1,
					nav: false
				},
				667: {
					items: 1,
					nav: true
				},
				1000: {
					items: 1,
					nav: true
				}
			}
		})
	})
</script>
<!-- //testimonials owlcarousel -->
<script>
	$(document).ready(function () {
		$('.owl-two').owlCarousel({
			loop: true,
			margin: 30,
			nav: false,
			responsiveClass: true,
			autoplay: false,
			autoplayTimeout: 5000,
			autoplaySpeed: 1000,
			autoplayHoverPause: false,
			responsive: {
				0: {
					items: 1,
					nav: false
				},
				480: {
					items: 1,
					nav: false
				},
				667: {
					items: 1,
					nav: false
				},
				1000: {
					items: 1,
					nav: false
				}
			}
		})
	})
</script>
    <script src="{% static 'Main/assets/js/bootstrap.min.js' %}"></script>